.modal-body {
    border: 1pt solid red;
}

.flex-vertical-container {
    display: flex;
    flex-direction: column;
    height: 400px; /* or 100%, or any desired height */
    border: none;
}

    .flex-vertical-container > .fixed {
        padding: 0.5rem;

    }

    .flex-vertical-container > .flex-fill {
        flex: 1;
        padding: 0.5rem;
        overflow: auto;
    }

.manage-user-modal-textbox {
    min-width: 300px;
    max-width: 300px;
}

